<?xml version="1.0"?>

<!-- Configuration Start: Please customize following configuration -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.com_HP6378" version="1.6.1">
    
    <name>新竹謝老闆</name>
    <description>您買屋賣屋的好夥伴</description>
    <author href="http://www.myhomes.com.tw/m/" email="myhomes.management@gmail.com">新竹謝老闆</author>
    
    <!-- Configuration End -->
  
    <!--  allows access to any external resource. -->
    <access origin="*"/>
    <allow-navigation href="*" />
  
    <content src="index.html"/>
    <icon src="HP6378.png"/>
  
    <!-- https://build.phonegap.com/current-support -->
    <preference name="phonegap-version" value="cli-6.5.0" />
  <preference name="android-build-tool" value="ant|gradle" />
  <preference name="android-minSdkVersion" value="21" />
  <preference name="android-maxSdkVersion" value="28" />
  <preference name="android-targetSdkVersion" value="26" />
  <preference name="android-installLocation" value="auto" />
  <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
    
    <!-- 防止太多權限 -->
    <preference name="permissions" value="none" />
    
    <!-- 只保留最低的權限 -->
    <feature name="http://api.phonegap.com/1.0/network" />
    
    <!-- 外掛 -->
    <plugin name="cordova-plugin-network-information" spec="~1.3.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <plugin name="cordova-universal-links-plugin" spec="~1.2.1" />
</widget>
